## @vtlvariable name="payment" type="com.rbkmoney.fraudbusters.domain.dgraph.DgraphFraudPayment"
## @vtlvariable name="constants" type="com.rbkmoney.fraudbusters.constant.DgraphPaymentUpsertConstants"
query all() {
    getFraudPaymentUid(func: type(FraudPayment)) @filter(eq(paymentId, "$payment.paymentId")) {
        $constants.fraudPaymentUid as uid
    }

    getPaymentUid(func: type(Payment)) @filter(eq(paymentId, "$payment.paymentId")) {
        $constants.paymentUid as uid
    }
}
