## @vtlvariable name="payment" type="com.rbkmoney.fraudbusters.domain.dgraph.DgraphPayment"
## @vtlvariable name="constants" type="com.rbkmoney.fraudbusters.constant.DgraphPaymentUpsertConstants"
query all() {
    getTokenUid(func: type(Token)) @filter(eq(tokenId, "$payment.cardToken.tokenId")) {
        $constants.tokenUid as uid
    }

    getShopUid(func: type(PartyShop)) @filter(eq(partyId, "$payment.partyId") and eq(shopId, "$payment.shopId")) {
        $constants.shopUid as uid
    }

    getBinUid(func: type(Bin)) @filter(eq(cardBin, "$payment.bin.bin")) {
        $constants.binUid as uid
    }

#if($payment.contactEmail)
    getEmailUid(func: type(Email)) @filter(eq(userEmail, "$payment.contactEmail.userEmail")) {
        $constants.emailUid as uid
    }

#end
#if($payment.fingerprint)
    getFingerUid(func: type(Fingerprint)) @filter(eq(fingerprintData, "$payment.fingerprint.fingerprintData")) {
        $constants.fingerUid as uid
    }

#end
#if($payment.country)
    getCountryUid(func: type(Country)) @filter(eq(countryName, "$payment.country.countryName")) {
        $constants.countryUid as uid
    }

#end
#if($payment.paymentIp)
    getIpUid(func: type(IP)) @filter(eq(ipAddress, "$payment.paymentIp.ip")) {
        $constants.ipUid as uid
    }

#end
    getPaymentUid(func: type(Payment)) @filter(eq(paymentId, "$payment.paymentId")) {
        $constants.paymentUid as uid
    }
}
