## @vtlvariable name="chargeback" type="com.rbkmoney.fraudbusters.domain.dgraph.common.DgraphChargeback"
## @vtlvariable name="constants" type="com.rbkmoney.fraudbusters.constant.DgraphPaymentUpsertConstants"
#set ($paymentId = $!chargeback.paymentId)
#set ($cardToken = $!chargeback.cardToken)
#set ($fingerprint = $!chargeback.fingerprint)
#set ($contactEmail = $!chargeback.email)
#set ($party = $!chargeback.party)
#set ($shop = $!chargeback.shop)
#set ($ip = $!chargeback.operationIp)
#set ($bin = $!chargeback.bin)
#set ($payment = $!chargeback.payment)
uid($constants.tokenUid) <dgraph.type> "$!cardToken.type" .
uid($constants.tokenUid) <tokenId> "$!cardToken.tokenId" .
uid($constants.tokenUid) <bin> uid($constants.binUid) .
uid($constants.tokenUid) <maskedPan> "$!cardToken.maskedPan" .
uid($constants.tokenUid) <lastActTime> "$!chargeback.createdAt" .
uid($constants.tokenUid) <chargebacks> uid($constants.chargebackUid) (createdAt = $!chargeback.createdAt, status = "$!chargeback.status") .

uid($constants.partyUid) <dgraph.type> "$!party.type" .
uid($constants.partyUid) <partyId> "$!party.partyId" .
uid($constants.partyUid) <lastActTime> "$!chargeback.createdAt" .
uid($constants.partyUid) <chargebacks> uid($constants.chargebackUid) (createdAt = $!chargeback.createdAt, status = "$!chargeback.status") .
uid($constants.partyUid) <tokens> uid($constants.tokenUid) .

#if ($shop)
uid($constants.shopUid) <dgraph.type> "$!shop.type" .
uid($constants.shopUid) <lastActTime> "$!chargeback.createdAt" .
uid($constants.shopUid) <shopId> "$!shop.shopId" .
uid($constants.shopUid) <chargebacks> uid($constants.chargebackUid) (createdAt = $!chargeback.createdAt, status = "$!chargeback.status") .
uid($constants.shopUid) <tokens> uid($constants.tokenUid) .
uid($constants.shopUid) <party> uid($constants.partyUid) .
uid($constants.partyUid) <shops> uid($constants.shopUid) .

#end
uid($constants.currencyUid) <dgraph.type> "$!chargeback.currency.type" .
uid($constants.currencyUid) <currencyCode> "$!chargeback.currency.currencyCode" .
uid($constants.currencyUid) <chargebacks> uid($constants.chargebackUid) (createdAt = $!chargeback.createdAt, status = "$!chargeback.status") .

uid($constants.binUid) <dgraph.type> "$!bin.type" .
uid($constants.binUid) <cardBin> "$!bin.cardBin" .
uid($constants.binUid) <chargebacks> uid($constants.chargebackUid) (createdAt = $!chargeback.createdAt, status = "$!chargeback.status") .
uid($constants.binUid) <tokens> uid($constants.tokenUid) .

#if ($fingerprint)
uid($constants.fingerUid) <dgraph.type> "$!fingerprint.type" .
uid($constants.fingerUid) <fingerprintData> "$!fingerprint.fingerprintData" .
uid($constants.fingerUid) <lastActTime> "$!chargeback.createdAt" .
uid($constants.fingerUid) <chargebacks> uid($constants.chargebackUid) (createdAt = $!chargeback.createdAt, status = "$!chargeback.status") .
uid($constants.fingerUid) <tokens> uid($constants.tokenUid) .
uid($constants.tokenUid) <fingerprints> uid($constants.fingerUid) .
uid($constants.chargebackUid) <fingerprint> uid($constants.fingerUid) .
#if ($contactEmail)
uid($constants.fingerUid) <emails> uid($constants.emailUid) .
#end

#end
#if ($contactEmail)
uid($constants.emailUid) <dgraph.type> "$!contactEmail.type" .
uid($constants.emailUid) <userEmail> "$!contactEmail.userEmail" .
uid($constants.emailUid) <lastActTime> "$!chargeback.createdAt" .
uid($constants.emailUid) <chargebacks> uid($constants.chargebackUid) (createdAt = $!chargeback.createdAt, status = "$!chargeback.status") .
uid($constants.emailUid) <tokens> uid($constants.tokenUid) .
uid($constants.binUid) <emails> uid($constants.emailUid) .
uid($constants.partyUid) <emails> uid($constants.emailUid) .
#if ($shop)
uid($constants.shopUid) <emails> uid($constants.emailUid) .
#end
uid($constants.tokenUid) <emails> uid($constants.emailUid) .
uid($constants.chargebackUid) <contactEmail> uid($constants.emailUid) .
#if ($fingerprint)
uid($constants.emailUid) <fingerprints> uid($constants.fingerUid) .
#end

#end
#if ($ip)
uid($constants.ipUid) <dgraph.type> "$!ip.type" .
uid($constants.ipUid) <ipAddress> "$!ip.ipAddress" .
uid($constants.ipUid) <chargebacks> uid($constants.chargebackUid) (createdAt = $!chargeback.createdAt, status = "$!chargeback.status") .
uid($constants.ipUid) <tokens> uid($constants.tokenUid) .
uid($constants.chargebackUid) <operationIp> uid($constants.ipUid) .
#if ($contactEmail)
uid($constants.ipUid) <emails> uid($constants.emailUid) .
#end

#end
uid($constants.chargebackUid) <dgraph.type> "$!chargeback.type" .
uid($constants.chargebackUid) <paymentId> "$!chargeback.paymentId" .
uid($constants.chargebackUid) <chargebackId> "$!chargeback.chargebackId" .
uid($constants.chargebackUid) <createdAt> "$!chargeback.createdAt" .
uid($constants.chargebackUid) <amount> "$!chargeback.amount" .
uid($constants.chargebackUid) <currency> uid($constants.currencyUid) .
uid($constants.chargebackUid) <status> "$!chargeback.status" .
uid($constants.chargebackUid) <category> "$!chargeback.category" .
uid($constants.chargebackUid) <code> "$!chargeback.code" .
uid($constants.chargebackUid) <payerType> "$!chargeback.payerType" .

uid($constants.chargebackUid) <cardToken> uid($constants.tokenUid) .
uid($constants.chargebackUid) <party> uid($constants.partyUid) .
#if ($shop)
uid($constants.chargebackUid) <shop> uid($constants.shopUid) .
#end
uid($constants.chargebackUid) <bin> uid($constants.binUid) .

uid($constants.paymentUid) <dgraph.type> "$!payment.type" .
uid($constants.paymentUid) <paymentId> "$!payment.paymentId" .
uid($constants.paymentUid) <chargebacks> uid($constants.chargebackUid) (createdAt = $!chargeback.createdAt, status = "$!chargeback.status") .
