## @vtlvariable name="chargeback" type="com.rbkmoney.fraudbusters.domain.dgraph.DgraphChargeback"
## @vtlvariable name="constants" type="com.rbkmoney.fraudbusters.constant.DgraphPaymentUpsertConstants"
query all() {
    getTokenUid(func: type(Token)) @filter(eq(tokenId, "$chargeback.cardToken.tokenId")) {
        $constants.tokenUid as uid
    }

    getCurrencyUid(func: type(Currency)) @filter(eq(currencyCode, "$chargeback.currency.currencyCode")) {
        $constants.currencyUid as uid
    }

    getPartyUid(func: type(Party)) @filter(eq(partyId, "$chargeback.party.partyId")) {
        $constants.partyUid as uid
    }

#if($chargeback.shop)
    getShopUid(func: type(Shop)) @filter(eq(shopId, "$chargeback.shop.shopId")) {
        $constants.shopUid as uid
    }

#end
    getBinUid(func: type(Bin)) @filter(eq(cardBin, "$chargeback.bin.cardBin")) {
        $constants.binUid as uid
    }

#if($chargeback.email)
    getEmailUid(func: type(Email)) @filter(eq(userEmail, "$chargeback.email.userEmail")) {
        $constants.emailUid as uid
    }

#end
#if($chargeback.fingerprint)
    getFingerUid(func: type(Fingerprint)) @filter(eq(fingerprintData, "$chargeback.fingerprint.fingerprintData")) {
        $constants.fingerUid as uid
    }

#end
#if($chargeback.operationIp)
    getIpUid(func: type(Ip)) @filter(eq(ipAddress, "$chargeback.operationIp.ipAddress")) {
        $constants.ipUid as uid
    }

#end
    getPaymentUid(func: type(Payment)) @filter(eq(paymentId, "$chargeback.paymentId")) {
        $constants.paymentUid as uid
    }

    getChargebackUid(func: type(Chargeback)) @filter(eq(paymentId, "$chargeback.paymentId") and eq(chargebackId, "$chargeback.chargebackId")) {
        $constants.chargebackUid as uid
    }
}
