## @vtlvariable name="queryModel" type="com.rbkmoney.fraudbusters.fraud.model.DgraphAggregationQueryModel"
query all() {
    aggregates(func: type($queryModel.rootType)) $queryModel.rootFilter @normalize {
        $!queryModel.targetType $!queryModel.targetFaset $!queryModel.targetFilter @cascade {
            amount as amount
            #foreach ($innerCondition in $queryModel.innerTypesFilters)
            $innerCondition
            #end
        }
        sum : sum(val(amount))
    }
}
