## @vtlvariable name="queryModel" type="com.rbkmoney.fraudbusters.fraud.model.DgraphAggregationQueryModel"
query all() {
    predicates as var(func: type($queryModel.rootType)) $queryModel.rootFilter {
        $!queryModel.targetType $!queryModel.targetFaset $!queryModel.targetFilter @cascade @normalize {
            #foreach ($innerCondition in $queryModel.innerTypesFilters)
            $innerCondition
            #end
        }
    }

    aggregates(func: uid(predicates)) {
        count: count(uid)
    }

}
